{% extends "base.html" %}

{% block title %}
Добро пожаловать!
{% endblock %}

{% block head %}
{{ super() }}
<style type="text/css">
    .important {
        color: #336699;
    }
</style>
{% endblock %}

{% block content %}
<h1>Sport Ind 🏡</h1>

<p class="important">
    Привет! Здесь вы сможете найти спортивные активности, которые подходят именно вам!
</p>

{% if user %}
<h2>ура! вы авторизованы :)</h2>
<p>
    Привет, {{ user }}! Это ваш личный кабинет. <a href="/private">here</a>!
</p>
{% else %}
<h2>Вы еще не авторизованы :(</h2>
<p>
    Прежде чем начать, пожалуйста, авторизуйтесь или зарегистрируйтесь по ссылке
    <a href="/auth/login" class="btn">login</a>!
</p>
{% endif %}

<hr>

{% endblock %}